<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <header>

          <h2>API Project: Timestamp Microservice</h2>
  
          <p>
            This is my project of the <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice" target="_blank"> 
            Timestamp Microservice challenge </a> for the freeCodeCamp API and Microservice certification. 
            It was built based on the boilerplate available <a href="https://github.com/freeCodeCamp/boilerplate-project-timestamp/" target="_blank">here</a>.
          </p>

        </header>

        <section>

          <h3>Example Usage:</h3>
          <p>If you want to get the data object for the current date, just hit:</p>
          <code>api/timestamp</code>

          <p>It's also possible to get the data object from a unix timestamp:</p>
          <code>api/timestamp/2015-12-25</code>

          <p>Or from natural language date formatted as YYYY-MM-DD:</p>
          <code>/api/timestamp/1451001600000</code>
  
          <h3>Example Output:</h3>
          
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
          
        </section>

        <footer>

          <p>
            By <a href="https://www.github.com/andradeoromulo" target="_blank">Rômulo Andrade</a> for <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp</a> certification.
          </p>

        <footer>

      </div>
      
   </body>

</html>
